html, body {
  width: 500px;
  height: 200px;
}

#panel {
  padding: 5px;
  display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;

}

textarea {
  height: 150px;
  width: 100%;
}
